---
---

// Reset
@import '_vendors/normalize';
@import '_globals/variables';
@import '_globals/generals';

html {
  height: 100%;
  min-height: 100%
}

body {
  overflow: hidden;
  height: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#tmp_canvas {
  position: absolute;
  left: 0px; right: 0;
  bottom: 0; top: 0;
  cursor: crosshair;
}